body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main_container{
    height: 650px;
    width: 450px;
    border: 2px solid rgb(60, 58, 58);
    border-radius: 10px;
    background-color: rgb(203, 198, 198);
    display: flex;
    flex-direction: column;
}

.display_result{
    border:2px solid black;
    height: 100px;
    margin: 30px ;
    background-color: whitesmoke;
    border-radius: 10px;
}
.display_row_one,.display_row_two{
    height: 50px;
    font-size: x-large;
    text-align: end;
    padding: 6px 10px 0 0;
}
.clr_buttons{
    display: flex;
    justify-content:space-between;
    margin: 0px 30px 30px 30px ;
}
.clr_button,.delete_button{
    border:2px solid rgb(60, 58, 58); 
    height: 60px;
    width: 180px;
    border-radius: 10px;
    background-color: rgb(220, 89, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: all .1s ease;
}
.first_row, .second_row, .third_row,.fourth_row{
    height: 60px;
    margin: 0px 30px 30px 30px ;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.cal_buttons{
    border:2px solid rgb(60, 58, 58);
    height: 60px;
    width: 70px;
    border-radius: 5px;
    background-color:rgb(245, 241, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: all .1s ease;
}
.click {
    transform: scale(1.01);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

.equal{
    transition: all .1s ease;
}

.clickEqual{
    transform: scale(1.01);
    border-color: #66add3;
    box-shadow: 0 0 1rem #66add3;
}